{% extends 'layouts/base-fullscreen.html' %}

{% load static %}

{% block content %}      
    
    <header class="page-header bg-gradient-dark position-relative m-3 mb-0 border-radius-xl min-vh-50">
        <div class="video-background">
            <!-- Header -->
            <video autoplay muted loop id="video-bg">
                <source src="{% static 'assets/mp4/tecnologia.mp4' %}" type="video/mp4">
                <!-- Include additional source elements for other video formats if needed -->
                Your browser does not support the video tag.     
            </video>
            <div class="text-overlay position-absolute top-50 start-50 translate-middle text-center w-100 px-3">
                <h1 class="text-white display-4 display-md-3 display-sm-5">Registro Imobiliário Mundial</h1> 
            </div>
        </div>                
    </header>   
        
    <div class="container-fluid px-4 py-5">
        
        <div class="col-lg-12 mb-5">
            <div class="card h-100 border-1">
                <div class="card-body">
                    <div class="row justify-content-center">
                        <div class="col-12">
                            <img class="img-fluid rounded-3 mb-5" src="{% static 'assets/img/illustrations/mapa.png' %}" alt="Mapa" />
                        </div>
                        <div class="col-lg-10 col-md-12">
                            <div class="text-center mb-5">
                                <h1 class="fw-bolder">Vislumbrando o Futuro do Registro Imobiliário Mundial</h1>
                                <p class="lead fw-normal text-muted" style="text-align: justify;">
                                    Bem-vindo a um mundo digital, onde a liberdade e a justiça se unem para garantir o sagrado direito à propriedade, um mundo onde cada pedaço de terra é protegido por um Registro Mundial Imutável. Neste reino de equidade, a transparência e a imutabilidade são os pilares que sustentam a segurança e a confiança de todos os seres humanos.
                                </p>
                                <p class="lead fw-normal text-muted" style="text-align: justify;">
                                    Imagine um vasto banco de dados global, acessível a todos, onde cada propriedade é registrada de forma clara, precisa e inalterável. Este registro é auditável por qualquer pessoa, a qualquer momento, garantindo a integridade e a autenticidade de cada transação.
                                </p>
                                <p class="lead fw-normal text-muted" style="text-align: justify;">
                                    Neste mundo, não existe uma autoridade centralizada com o poder de usurpar os direitos à propriedade. Cada indivíduo é o guardião de sua própria terra, protegido por um registro em blockchain em uma rede descentralizada de confiança e validação. Não há espaço para manipulação ou coerção, pois a verdade é imutável e acessível a todos.
                                </p>
                                <p class="lead fw-normal text-muted" style="text-align: justify;">
                                    A liberdade financeira e a iniciativa independente são o coração pulsante deste sistema, uma voz coletiva que clama pela preservação dos direitos fundamentais de cada ser humano. Aqui, as dívidas não são criadas arbitrariamente para subjugar, mas sim a justiça é restaurada através da transparência e da equidade.
                                </p>
                                <p class="lead fw-normal text-muted" style="text-align: justify;">
                                    Neste mundo visionário, cada pessoa é livre para construir seu próprio destino, protegido pela garantia inabalável de seus direitos como ser humano. É uma jornada rumo à emancipação e à igualdade, onde a propriedade é um direito sagrado, e a legitimidade de cada ser humano é reconhecida e respeitada por todos. Agora, abordaremos alguns aspectos técnicos para compreender melhor a estrutura de consultas, registro e armazenamento de dados.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        
        <div class="row gx-5">
            <div class="col-lg-12 mb-5">
                <div class="card h-100 border-1">
                    <div class="card-body">
                        <div class="row gx-5 align-items-center">
                            <!-- Imagem à Esquerda -->
                            <div class="col-lg-6 order-lg-1">
                                <img class="img-fluid rounded-3 mb-4" src="{% static 'assets/img/illustrations/drone.png' %}" alt="Drone" />
                            </div>
                            <!-- Texto à Direita -->
                            <div class="col-lg-6 order-lg-2 text-center">
                                <h1 class="fw-bolder">Georreferenciamento</h1>
                                <p class="lead fw-normal text-muted" style="text-align: justify;">
                                    O uso das coordenadas UTM, latitude e longitude é crucial no georreferenciamento, 
                                    proporcionando uma localização precisa das propriedades. Esses sistemas garantem a 
                                    integridade do registro imobiliário, assegurando uma representação confiável da posição 
                                    geográfica, tanto localmente quanto globalmente.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-12 mb-5">
                <div class="card h-100 border-1">
                    <div class="card-body">
                        <div class="row gx-5 align-items-center">
                            <!-- Texto à Esquerda -->
                            <div class="col-lg-6 order-lg-1 text-center">
                                <h1 class="fw-bolder">Projeto Arquitetonico</h1>
                                <p class="lead fw-normal text-muted" style="text-align: justify;">
                                    O projeto arquitetônico, alinhado ao plano topográfico, é vital para um imóvel, 
                                    delineando aspectos técnicos essenciais. Ele não só define funcionalidade, 
                                    estética e sustentabilidade, mas também otimiza o uso do espaço, 
                                    promove conforto ambiental e valoriza o imóvel. Essencial para atender aos 
                                    requisitos técnicos e integrar-se harmoniosamente ao entorno.
                                </p>
                            </div>
                            <!-- Imagem à Direita -->
                            <div class="col-lg-6 order-lg-2">
                                <img class="img-fluid rounded-3 mb-4" src="{% static 'assets/img/illustrations/planta.png' %}" alt="Planta" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        
            <div class="col-lg-12 mb-5">
                <div class="card h-100 border-1">
                    <div class="card-body">
                        <div class="row gx-5 align-items-center">
                            <!-- Imagem à Esquerda -->
                            <div class="col-lg-6 order-lg-1">
                                <img class="img-fluid rounded-3 mb-4" src="{% static 'assets/img/illustrations/cartorio.png' %}" alt="Cartório" />
                            </div>
                            <!-- Texto à Direita -->
                            <div class="col-lg-6 order-lg-2 text-center">
                                <h1 class="fw-bolder">Registro Notarial</h1>
                                <p class="lead fw-normal text-muted" style="text-align: justify;">
                                    No Brasil, adota-se o sistema notarial "título e modo" organiza o registro de imóveis em duas etapas: 
                                    A primeira estabelece a obrigação entre as partes e a segunda efetiva a transferência da propriedade ao 
                                    adquirente, por meio do registro do título no Cartório de Registro de Imóveis. Essa abordagem garante a 
                                    validade e a segurança das transações, seguindo uma sequência clara e precisa.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        

        <div class="row justify-content-center">
            <div class="col-lg-12 col-md-12 mb-5">
                <div class="card h-100 border-1">
                    <div class="card-body">
                        <div class="text-center">
                            <img class="img-fluid rounded-3 mb-4" src="{% static 'assets/img/illustrations/blockchain.png' %}" alt="Blockchain" />
                        </div>
                        <h1 class="fw-bolder text-center">Registro Imobiliário em Blockchain (RWA)</h1>
                        <p class="lead fw-normal text-muted" style="text-align: justify;">
                            Registro Imobiliário em Blockchain (RWA): Na era digital em que vivemos, a migração da população para um sistema de registro imobiliário baseado em blockchain (RWA) é não apenas uma evolução natural, mas também uma necessidade vital. Este avanço representa não apenas uma mudança de paradigma, mas uma revolução na forma como concebemos e lidamos com a propriedade imobiliária.
                        </p>
                        <p class="lead fw-normal text-muted" style="text-align: justify;">
                            Ao adotar o Registro Imobiliário em Blockchain, a população está optando por um sistema que transcende as limitações e os obstáculos enfrentados pelo registro imobiliário tradicional. A importância dessa migração reside na garantia de transparência, segurança e eficiência nas transações de propriedade.
                        </p>
                        <p class="lead fw-normal text-muted" style="text-align: justify;">
                            Além disso, ao migrar para esse sistema, a população está fortalecendo sua autonomia e protegendo seus direitos de propriedade de forma imutável. Isso não apenas elimina a necessidade de intermediários, reduzindo custos e riscos de fraude, mas também empodera cada indivíduo como guardião de sua própria terra.
                        </p>
                        <p class="lead fw-normal text-muted" style="text-align: justify;">
                            Em um mundo onde a confiança é essencial, o Registro Imobiliário em Blockchain não apenas oferece segurança e integridade nas transações, mas também estabelece uma base sólida para a construção de comunidades resilientes e prósperas. Ao migrar para esse sistema, a população está não apenas abraçando a inovação, mas também pavimentando o caminho para um futuro onde a propriedade é um direito sagrado, protegido e respeitado por todos.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row mt-5">
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100 border-1">
                    <div class="card-body">
                        <h4 class="fw-bolder">Armazenamento em IPFS</h4>
                        <p class="lead fw-normal text-muted text-justify">
                            Utiliza o IPFS (Sistema de Arquivos Interplanetário) para armazenar dados de propriedade de forma descentralizada, proporcionando acesso rápido, seguro e resistente à censura.
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100 border-1">
                    <div class="card-body">
                        <h4 class="fw-bolder">Registro em Blockchain</h4>
                        <p class="lead fw-normal text-muted text-justify">
                            Oferece um método imutável e transparente de registrar transações de propriedade em uma rede blockchain, eliminando a necessidade de intermediários e reduzindo riscos de fraude.
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100 border-1">
                    <div class="card-body">
                        <h4 class="fw-bolder">Contratos Inteligentes</h4>
                        <p class="lead fw-normal text-muted text-justify">
                            Utiliza contratos inteligentes para automatizar e validar automaticamente acordos entre partes, garantindo execução confiável e transparente de transações imobiliárias.
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100 border-1">
                    <div class="card-body">
                        <h4 class="fw-bolder">Redução de Custos</h4>
                        <p class="lead fw-normal text-muted text-justify">
                            Proporciona uma redução significativa nos custos operacionais associados ao registro imobiliário tradicional, eliminando intermediários e simplificando processos.
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100 border-1">
                    <div class="card-body">
                        <h4 class="fw-bolder">Interoperabilidade</h4>
                        <p class="lead fw-normal text-muted text-justify">
                            Permite a integração eficiente com outros sistemas e plataformas, facilitando a troca de informações e a interoperabilidade entre diferentes registros e serviços imobiliários.
                        </p>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-4 col-md-6 mb-4">
                <div class="card h-100 border-1">
                    <div class="card-body">
                        <h4 class="fw-bolder">Cotação Mundial</h4>
                        <p class="lead fw-normal text-muted text-justify">
                            Facilita a avaliação global de propriedades, fornecendo acesso a uma ampla variedade de informações e métricas relevantes para o mercado imobiliário internacional.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12 mb-5">
            <div class="card h-100 border-1">
                <div class="card-body">
                    <p class="lead fw-normal text-muted text-justify">
                        Junte-se a nós na construção de um futuro onde seus direitos de propriedade são protegidos e valorizados como nunca antes. Com o Registro Imobiliário em Blockchain (RWA), você não apenas fortalece sua autonomia, mas também se torna o guardião de sua própria terra. Faça parte desta revolução agora mesmo! Dê o primeiro passo para digitalizar seu registro imobiliário e garanta transparência, segurança e eficiência em todas as suas transações.
                    </p>
                    <p class="text-center">
                        <a class="btn btn-primary btn-lg" href="#" role="button">Digitalize seu registro hoje!</a>
                    </p>
                </div>
            </div>
        </div>       
                 
    </div>
    

{% endblock content %}

{% block footer %}

  {% include 'includes/footer-fullscreen.html' %}

{% endblock footer %}

{% block extra_js %}

  <script src="{% static 'assets/js/plugins/parallax.min.js' %}"></script>
  <script>
    if (document.getElementsByClassName('page-header')) {
      window.onscroll = debounce(function() {
        var scrollPosition = window.pageYOffset;
        var bgParallax = document.querySelector('.page-header');
        var oVal = (window.scrollY / 3);
        bgParallax.style.transform = 'translate3d(0,' + oVal + 'px,0)';
      }, 6);
    }
  </script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>

{% endblock extra_js %}



