{% load i18n static admin_material %}

<ul class="navbar-nav">

  {% if request.user.is_superuser %}
  <li class="nav-item">
    <a data-bs-toggle="collapse" href="#dashboardsExamples" class="nav-link text-white {% if 'dashboard' in parent %}active{% endif %} " aria-controls="dashboardsExamples" role="button" aria-expanded="false">
      <i class="material-icons-round opacity-10">dashboard</i>
      <span class="nav-link-text ms-2 ps-1">Dashboards</span>
    </a>
    <div class="collapse {% if 'dashboard' in parent %}show{% endif %}" id="dashboardsExamples">
      <ul class="nav ">
        <li class="nav-item {% if 'analytics' in segment %}active{% endif %}">
          <a class="nav-link text-white {% if 'analytics' in segment %}active{% endif %}" href="{% url 'admin:index' %}">
            <span class="sidenav-mini-icon"> A </span>
            <span class="sidenav-normal  ms-2  ps-1"> Admin Section </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="{% url 'admin:password_change' %}">
            <span class="sidenav-mini-icon"> S </span>
            <span class="sidenav-normal  ms-2  ps-1"> Change Password </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="{% url 'admin:logout' %}">
            <span class="sidenav-mini-icon"> L </span>
            <span class="sidenav-normal  ms-2  ps-1"> Logout </span>
          </a>
        </li>
      </ul>
    </div>
  </li>
  {% endif %}

  {% if not request.user.is_superuser and not request.user.is_authenticated %}
  <li class="nav-item">
    <a data-bs-toggle="collapse" href="#dashboardsExamples" class="nav-link text-white {% if 'dashboard' in parent %}active{% endif %} " aria-controls="dashboardsExamples" role="button" aria-expanded="false">
      <i class="material-icons-round opacity-10">dashboard</i>
      <span class="nav-link-text ms-2 ps-1">Dashboards</span>
    </a>
    <div class="collapse {% if 'dashboard' in parent %}show{% endif %}" id="dashboardsExamples">
      <ul class="nav ">
        <li class="nav-item {% if 'analytics' in segment %}active{% endif %}">
          <a class="nav-link text-white {% if 'analytics' in segment %}active{% endif %}" href="{% url 'admin:index' %}">
            <span class="sidenav-mini-icon"> A </span>
            <span class="sidenav-normal  ms-2  ps-1"> Admin Section </span>
          </a>
        </li>
      </ul>
    </div>
  </li>
  <li class="nav-item">
    <a data-bs-toggle="collapse" href="#authExamples" class="nav-link text-white " aria-controls="authExamples" role="button" aria-expanded="false">
      <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">content_paste</i>
      <span class="nav-link-text ms-2 ps-1">Users Authentication</span>
    </a>
    <div class="collapse " id="authExamples">
      <ul class="nav ">
        <li class="nav-item ">
          <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#signinExample">
            <span class="sidenav-mini-icon"> S </span>
            <span class="sidenav-normal  ms-2  ps-1"> Sign In <b class="caret"></b></span>
          </a>
          <div class="collapse " id="signinExample">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a class="nav-link text-white " href="{% url 'basic_login' %}">
                  <span class="sidenav-mini-icon"> B </span>
                  <span class="sidenav-normal  ms-2  ps-1"> Basic </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white " href="{% url 'cover_login' %}">
                  <span class="sidenav-mini-icon"> C </span>
                  <span class="sidenav-normal  ms-2  ps-1"> Cover </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white " href="{% url 'illustration_login' %}">
                  <span class="sidenav-mini-icon"> I </span>
                  <span class="sidenav-normal  ms-2  ps-1"> Illustration </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#signupExample">
            <span class="sidenav-mini-icon"> S </span>
            <span class="sidenav-normal  ms-2  ps-1"> Sign Up <b class="caret"></b></span>
          </a>
          <div class="collapse " id="signupExample">
            <ul class="nav nav-sm flex-column">
              <li class="nav-item">
                <a class="nav-link text-white " href="{% url 'basic_register' %}">
                  <span class="sidenav-mini-icon"> B </span>
                  <span class="sidenav-normal  ms-2  ps-1"> Basic </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white " href="{% url 'cover_register' %}">
                  <span class="sidenav-mini-icon"> C </span>
                  <span class="sidenav-normal  ms-2  ps-1"> Cover </span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white " href="{% url 'illustration_register' %}">
                  <span class="sidenav-mini-icon"> I </span>
                  <span class="sidenav-normal  ms-2  ps-1"> Illustration </span>
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </li>
  {% endif %}


  {% admin_get_menu as app_list %}
  {% if app_list %}
      {% for app in app_list %}
          {% if app.has_perms and not app.pinned %}
            <li class="nav-item">
              <a data-bs-toggle="collapse" href="#dashboards{{app.app_label}}" class="nav-link text-white {% if app_label != app.label and app.url not in request.path|urlencode  %} collapsed {% endif %} " aria-controls="dashboards{{app.app_label}}" role="button" aria-expanded="false">
                <i class="material-icons-round opacity-10">dashboard</i>
                <span class="nav-link-text ms-2 ps-1">{{ app.label|slice:10 }}{% if app.label|length > 10 %}..{% endif %}</span>
              </a>
              {% if app.models %}
                <div 
                  class="collapse {% if 'tables-bootstrap-' in segment or app_label == app.label or app.url in request.path|urlencode %} show {% endif %}" 
                  role="list" 
                  id="dashboards{{app.app_label}}"
                  aria-expanded="{% if app_label == app.label or app.url in request.path|urlencode %}true{% else %}false{% endif %}">
                  <ul class="nav">
                    {% for model in app.models %}
                      {% if model.url %}
                        <li class="nav-item {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}">
                          <a class="nav-link text-white {% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %}" href="{{ model.url }}">
                            <span class="sidenav-mini-icon"> A </span>
                            <span class="sidenav-normal ms-2 ps-1">{{ model.label }}</span>
                          </a>
                        </li>
                      {% else %}
                        <li class="nav-item list-unstyled">{{ model.label }}</li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div> 
              {% endif %}
            </li>
          {% endif %}
      {% endfor %}
  {% endif %}

  {% if request.user.is_authenticated and not request.user.is_superuser %}
  <li class="nav-item mb-2 mt-0">
    <a data-bs-toggle="collapse" href="#ProfileNav" class="nav-link text-white" aria-controls="ProfileNav" role="button" aria-expanded="false">
      <img src="{% static 'assets/img/team-3.jpg' %}" class="avatar">
      <span class="nav-link-text ms-2 ps-1">Brooklyn Alice</span>
    </a>
    <div class="collapse" id="ProfileNav" style="">
      <ul class="nav ">
        <li class="nav-item">
          <a class="nav-link text-white">
            <span class="sidenav-mini-icon"> MP </span>
            <span class="sidenav-normal  ms-3  ps-1"> My Profile </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white ">
            <span class="sidenav-mini-icon"> S </span>
            <span class="sidenav-normal  ms-3  ps-1"> Settings </span>
          </a>
        </li>
        {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link text-white">
            <span class="sidenav-mini-icon"> S </span>
            <span class="sidenav-normal  ms-3  ps-1"> Change Password </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white " href="{% url 'logout' %}">
            <span class="sidenav-mini-icon"> L </span>
            <span class="sidenav-normal  ms-3  ps-1"> Logout </span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </li>
  <hr class="horizontal light mt-0">
  <li class="nav-item">
    <a data-bs-toggle="collapse" href="#dashboardsExamples" class="nav-link text-white {% if 'dashboard' in parent %}active{% endif %} " aria-controls="dashboardsExamples" role="button" aria-expanded="false">
      <i class="material-icons-round opacity-10">dashboard</i>
      <span class="nav-link-text ms-2 ps-1">Dashboards</span>
    </a>
    <div class="collapse {% if 'dashboard' in parent %}show{% endif %}" id="dashboardsExamples">
      <ul class="nav ">
        <li class="nav-item {% if 'analytics' in segment %}active{% endif %}">
          <a class="nav-link text-white {% if 'analytics' in segment %}active{% endif %}" href="{% url 'index' %}">
            <span class="sidenav-mini-icon"> A </span>
            <span class="sidenav-normal  ms-2  ps-1"> Analytics </span>
          </a>
        </li>
        
        <li class="nav-item {% if 'sales' in segment %}active{% endif %}">
          <a class="nav-link text-white {% if 'sales' in segment %}active{% endif %}" href="{% url 'sales' %}">
            <span class="sidenav-mini-icon"> S </span>
            <span class="sidenav-normal  ms-2  ps-1"> Sales </span>
          </a>
        </li>
        
        <li class="nav-item {% if 'smart_home' in segment %}active{% endif %}">
          <a class="nav-link text-white {% if 'smart_home' in segment %}active{% endif %}" href="{% url 'smart_home' %}">
            <span class="sidenav-mini-icon"> S </span>
            <span class="sidenav-normal  ms-2  ps-1"> Smart Home </span>
          </a>
        </li>
      </ul>
    </div>
  </li>

  
  <li class="nav-item">
    <a data-bs-toggle="collapse" href="#applicationsExamples" class="nav-link text-white {% if 'applications' in parent %}active{% endif %}" aria-controls="applicationsExamples" role="button" aria-expanded="false">
      <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">apps</i>
      <span class="nav-link-text ms-2 ps-1">Applications</span>
    </a>
    <div class="collapse {% if 'applications' in parent %}show{% endif %}" id="applicationsExamples">
      <ul class="nav ">
        <li class="nav-item {% if 'test' in segment %}active{% endif %} ">
          <a class="nav-link text-white {% if 'test' in segment %}active{% endif %}" href="{% url 'test' %}">
            <span class="sidenav-mini-icon"> C </span>
            <span class="sidenav-normal  ms-2  ps-1"> test </span>
          </a>
        </li>       
        
        
      </ul>
    </div>
  </li>
  
  
  <li class="nav-item">
    <hr class="horizontal light" />
    <h6 class="ps-4  ms-2 text-uppercase text-xs font-weight-bolder text-white">DOCS</h6>
  </li>
  
  <li class="nav-item">
    <a class="nav-link" href="#" target="_blank">
      <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">receipt_long</i>
      <span class="nav-link-text ms-2 ps-1">Support</span>
    </a>
  </li>
  {% endif %}
</ul>