{% load static %}

<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-end me-3 rotate-caret  bg-gradient-dark" id="sidenav-main">
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute start-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" href="/">
      <img src="{% static 'assets/img/logo-ct.png' %}" class="navbar-brand-img h-100" alt="main_logo">
      <span class="me-1 font-weight-bold text-white">#</span>
    </a>
  </div>
  <hr class="horizontal light mt-0 mb-2">
  <div class="collapse navbar-collapse px-0 w-auto h-auto" id="sidenav-collapse-main">
    <ul class="navbar-nav">
      <li class="nav-item mb-2 mt-0">
        <a data-bs-toggle="collapse" href="#ProfileNav" class="nav-link text-white" aria-controls="ProfileNav" role="button" aria-expanded="false">
          <img src="{% static 'assets/img/team-3.jpg' %}" class="avatar">
          <span class="nav-link-text ms-2 ps-1">Brooklyn Alice</span>
        </a>
        <div class="collapse" id="ProfileNav" style="">
          <ul class="nav ">
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'profile_overview' %}">
                <span class="sidenav-mini-icon"> MP </span>
                <span class="sidenav-normal  ms-3  ps-1"> My Profile </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white " href="{% url 'settings' %}">
                <span class="sidenav-mini-icon"> S </span>
                <span class="sidenav-normal  ms-3  ps-1"> Settings </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white " href="{% url 'basic_login' %}">
                <span class="sidenav-mini-icon"> L </span>
                <span class="sidenav-normal  ms-3  ps-1"> Logout </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <hr class="horizontal light mt-0">
      <li class="nav-item">
        <a data-bs-toggle="collapse" href="#dashboardsExamples" class="nav-link text-white " aria-controls="dashboardsExamples" role="button" aria-expanded="false">
          <i class="material-icons-round opacity-10">dashboard</i>
          <span class="nav-link-text me-1">Dashboards</span>
        </a>
        <div class="collapse " id="dashboardsExamples">
          <ul class="nav  pe-0 ">
            <li class="nav-item ">
              <a class="nav-link text-white " href="{% url 'index' %}">
                <span class="sidenav-mini-icon"> A </span>
                <span class="sidenav-normal  me-3  ps-1"> Analytics </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white " href="{% url 'discover' %}">
                <span class="sidenav-mini-icon"> D </span>
                <span class="sidenav-normal  me-3  ps-1"> Discover </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white " href="{% url 'sales' %}">
                <span class="sidenav-mini-icon"> S </span>
                <span class="sidenav-normal  me-3  ps-1"> Sales </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white " href="{% url 'automotive' %}">
                <span class="sidenav-mini-icon"> A </span>
                <span class="sidenav-normal  me-3  ps-1"> Automotive </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white " href="{% url 'smart_home' %}">
                <span class="sidenav-mini-icon"> S </span>
                <span class="sidenav-normal  me-3  ps-1"> Smart Home </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item mt-3">
        <h6 class="ps-4 me-4 text-uppercase text-xs font-weight-bolder text-white">PAGES</h6>
      </li>
      <li class="nav-item">
        <a data-bs-toggle="collapse" href="#pagesExamples" class="nav-link text-white active" aria-controls="pagesExamples" role="button" aria-expanded="false">
          <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">image</i>
          <span class="nav-link-text me-1">Pages</span>
        </a>
        <div class="collapse  show " id="pagesExamples">
          <ul class="nav  pe-0 ">
            <li class="nav-item ">
              <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#profileExample">
                <span class="sidenav-mini-icon"> P </span>
                <span class="sidenav-normal  me-3  ps-1"> Profile <b class="caret"></b></span>
              </a>
              <div class="collapse " id="profileExample">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'profile_overview' %}">
                      <span class="sidenav-mini-icon"> P </span>
                      <span class="sidenav-normal  me-3  ps-1"> Profile Overview </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'projects' %}">
                      <span class="sidenav-mini-icon"> A </span>
                      <span class="sidenav-normal  me-3  ps-1"> All Projects </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'messages' %}">
                      <span class="sidenav-mini-icon"> M </span>
                      <span class="sidenav-normal  me-3  ps-1"> Messages </span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#usersExample">
                <span class="sidenav-mini-icon"> U </span>
                <span class="sidenav-normal  me-3  ps-1"> Users <b class="caret"></b></span>
              </a>
              <div class="collapse " id="usersExample">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'reports' %}">
                      <span class="sidenav-mini-icon"> R </span>
                      <span class="sidenav-normal  me-3  ps-1"> Reports </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'new_user' %}">
                      <span class="sidenav-mini-icon"> N </span>
                      <span class="sidenav-normal  me-3  ps-1"> New User </span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#accountExample">
                <span class="sidenav-mini-icon"> A </span>
                <span class="sidenav-normal  me-3  ps-1"> Account <b class="caret"></b></span>
              </a>
              <div class="collapse " id="accountExample">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'settings' %}">
                      <span class="sidenav-mini-icon"> S </span>
                      <span class="sidenav-normal  me-3  ps-1"> Settings </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'billing' %}">
                      <span class="sidenav-mini-icon"> B </span>
                      <span class="sidenav-normal  me-3  ps-1"> Billing </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'invoice' %}">
                      <span class="sidenav-mini-icon"> I </span>
                      <span class="sidenav-normal  me-3  ps-1"> Invoice </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'security' %}">
                      <span class="sidenav-mini-icon"> S </span>
                      <span class="sidenav-normal  me-3  ps-1"> Security </span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#projectsExample">
                <span class="sidenav-mini-icon"> P </span>
                <span class="sidenav-normal  me-3  ps-1"> Projects <b class="caret"></b></span>
              </a>
              <div class="collapse " id="projectsExample">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'general' %}">
                      <span class="sidenav-mini-icon"> G </span>
                      <span class="sidenav-normal  me-3  ps-1"> General </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'timeline' %}">
                      <span class="sidenav-mini-icon"> T </span>
                      <span class="sidenav-normal  me-3  ps-1"> Timeline </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'new_project' %}">
                      <span class="sidenav-mini-icon"> N </span>
                      <span class="sidenav-normal  me-3  ps-1"> New Project </span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#vrExamples">
                <span class="sidenav-mini-icon"> V </span>
                <span class="sidenav-normal  me-3  ps-1"> Virtual Reality <b class="caret"></b></span>
              </a>
              <div class="collapse " id="vrExamples">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'vr_default' %}">
                      <span class="sidenav-mini-icon"> V </span>
                      <span class="sidenav-normal  me-3  ps-1"> VR Default </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'vr_info' %}">
                      <span class="sidenav-mini-icon"> V </span>
                      <span class="sidenav-normal  me-3  ps-1"> VR Info </span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white " href="{% url 'pricing' %}">
                <span class="sidenav-mini-icon"> P </span>
                <span class="sidenav-normal  me-3  ps-1"> Pricing Page </span>
              </a>
            </li>
            <li class="nav-item active">
              <a class="nav-link text-white active" href="{% url 'rtl' %}">
                <span class="sidenav-mini-icon"> R </span>
                <span class="sidenav-normal  me-3  ps-1"> RTL </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white " href="{% url 'widgets' %}">
                <span class="sidenav-mini-icon"> W </span>
                <span class="sidenav-normal  me-3  ps-1"> Widgets </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white " href="{% url 'charts' %}">
                <span class="sidenav-mini-icon"> C </span>
                <span class="sidenav-normal  me-3  ps-1"> Charts </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white " href="{% url 'sweet_alerts' %}">
                <span class="sidenav-mini-icon"> S </span>
                <span class="sidenav-normal  me-3  ps-1"> Sweet Alerts </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white " href="{% url 'notifications' %}">
                <span class="sidenav-mini-icon"> N </span>
                <span class="sidenav-normal  me-3  ps-1"> Notifications </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a data-bs-toggle="collapse" href="#applicationsExamples" class="nav-link text-white " aria-controls="applicationsExamples" role="button" aria-expanded="false">
          <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">apps</i>
          <span class="nav-link-text me-1">Applications</span>
        </a>
        <div class="collapse " id="applicationsExamples">
          <ul class="nav  pe-0 ">
            <li class="nav-item ">
              <a class="nav-link text-white " href="{% url 'crm' %}">
                <span class="sidenav-mini-icon"> C </span>
                <span class="sidenav-normal  me-3  ps-1"> CRM </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white " href="{% url 'kanban' %}">
                <span class="sidenav-mini-icon"> K </span>
                <span class="sidenav-normal  me-3  ps-1"> Kanban </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white " href="{% url 'wizard' %}">
                <span class="sidenav-mini-icon"> W </span>
                <span class="sidenav-normal  me-3  ps-1"> Wizard </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white " href="{% url 'datatables' %}">
                <span class="sidenav-mini-icon"> D </span>
                <span class="sidenav-normal  me-3  ps-1"> DataTables </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white " href="{% url 'calendar' %}">
                <span class="sidenav-mini-icon"> C </span>
                <span class="sidenav-normal  me-3  ps-1"> Calendar </span>
              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white " href="{% url 'stats' %}">
                <span class="sidenav-mini-icon"> S </span>
                <span class="sidenav-normal  me-3  ps-1"> Stats </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a data-bs-toggle="collapse" href="#ecommerceExamples" class="nav-link text-white " aria-controls="ecommerceExamples" role="button" aria-expanded="false">
          <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">shopping_basket</i>
          <span class="nav-link-text me-1">Ecommerce</span>
        </a>
        <div class="collapse " id="ecommerceExamples">
          <ul class="nav  pe-0 ">
            <li class="nav-item ">
              <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#productsExample">
                <span class="sidenav-mini-icon"> P </span>
                <span class="sidenav-normal  me-3  ps-1"> Products <b class="caret"></b></span>
              </a>
              <div class="collapse " id="productsExample">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'new_product' %}">
                      <span class="sidenav-mini-icon"> N </span>
                      <span class="sidenav-normal  me-3  ps-1"> New Product </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'edit_product' %}">
                      <span class="sidenav-mini-icon"> E </span>
                      <span class="sidenav-normal  me-3  ps-1"> Edit Product </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'product_page' %}">
                      <span class="sidenav-mini-icon"> P </span>
                      <span class="sidenav-normal  me-3  ps-1"> Product Page </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'products_list' %}">
                      <span class="sidenav-mini-icon"> P </span>
                      <span class="sidenav-normal  me-3  ps-1"> Products List </span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#ordersExample">
                <span class="sidenav-mini-icon"> O </span>
                <span class="sidenav-normal  me-3  ps-1"> Orders <b class="caret"></b></span>
              </a>
              <div class="collapse " id="ordersExample">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'order_list' %}">
                      <span class="sidenav-mini-icon"> O </span>
                      <span class="sidenav-normal  me-3  ps-1"> Order List </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'order_details' %}">
                      <span class="sidenav-mini-icon"> O </span>
                      <span class="sidenav-normal  me-3  ps-1"> Order Details </span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li class="nav-item ">
              <a class="nav-link text-white " href="{% url 'referral' %}">
                <span class="sidenav-mini-icon"> R </span>
                <span class="sidenav-normal  me-3  ps-1"> Referral </span>
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a data-bs-toggle="collapse" href="#authExamples" class="nav-link text-white " aria-controls="authExamples" role="button" aria-expanded="false">
          <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">content_paste</i>
          <span class="nav-link-text me-1">Authentication</span>
        </a>
        <div class="collapse " id="authExamples">
          <ul class="nav  pe-0 ">
            <li class="nav-item ">
              <a class="nav-link text-white " data-bs-toggle="collapse" aria-expanded="false" href="#signinExample">
                <span class="sidenav-mini-icon"> S </span>
                <span class="sidenav-normal  me-3  ps-1"> Sign In <b class="caret"></b></span>
              </a>
              <div class="collapse " id="signinExample">
                <ul class="nav nav-sm flex-column">
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'basic_login' %}">
                      <span class="sidenav-mini-icon"> B </span>
                      <span class="sidenav-normal  me-3  ps-1"> Basic </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'cover_login' %}">
                      <span class="sidenav-mini-icon"> C </span>
                      <span class="sidenav-normal  me-3  ps-1"> Cover </span>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-white " href="{% url 'illustration_login' %}">
                      <span class="sidenav-mini-icon"> I </span>
                      <span class="sidenav-normal  me-3  ps-1"> Illustration </span>
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            
            
            
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <hr class="horizontal light" />
        <h6 class="ps-4 me-4 text-uppercase text-xs font-weight-bolder text-white">DOCS</h6>
      </li>
      <li class="nav-item">
        <a data-bs-toggle="collapse" href="#basicExamples" class="nav-link text-white " aria-controls="basicExamples" role="button" aria-expanded="false">
          <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">upcoming</i>
          <span class="nav-link-text me-1">Basic</span>
        </a>
        
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="https:" target="_blank">
          <i class="material-icons-round {% if page.brand == 'RTL' %}ms-2{% else %} me-2{% endif %}">receipt_long</i>
          <span class="nav-link-text me-1">Support</span>
        </a>
      </li>
    </ul>
  </div>
</aside>